.idea/
.ipynb_checkpoints/
dataset/
__pycache__/
model_weights/training/
test.ipynb
 notebooks/000006.jpg
notebooks/grp.jpg
notebooks/test.ipynb
src/efficentfacenet/face_detection/
model_weights/efficient_facenet
test.ipynb
face_detection/
face_features.json
*.json
/model_weights/